<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="User" type="zx.blog.user.domain.User" /> 
		<typeAlias alias="Category" type="zx.blog.category.domain.Category" /> 
		<typeAlias alias="Article" type="zx.blog.article.domain.Article" />
		<typeAlias alias="Library" type="zx.blog.library.domain.Library"/>
		<typeAlias alias="LoginLog" type="zx.blog.log.domain.LoginLog"/>
	</typeAliases>

	<mappers>
		<mapper resource="config/mapper/user-mapper.xml" />
		<mapper resource="config/mapper/category-mapper.xml" />
		<mapper resource="config/mapper/article-mapper.xml" />
		<mapper resource="config/mapper/library-mapper.xml" />
		<mapper resource="config/mapper/log-mapper.xml" />
	</mappers>
</configuration>