<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zx.blog.mapper.ArticleMapper">

<resultMap type="zx.blog.article.domain.Article" id="article">
	<id column="articleId" property="articleId" />
	<result column="title" property="title"/>
	<result column="userId" property="userId"/>
	<result column="postTime" property="postTime" typeHandler="zx.blog.myibtais.typehandler.TimeDateTypeHandler" />
	<result column="lastUpdateTime" property="lastUpdateTime" typeHandler="zx.blog.myibtais.typehandler.TimeDateTypeHandler" />
	<result column="categoryId" property="categoryId" />
	<result column="content" property="content" />
	<result column="isVisible" property="isVisible" />
	<result column="totalViewTimes" property="totalViewTimes" />
	<result column="dayViewTimes" property="dayViewTimes" />
	<result column="weekViewTimes" property="weekViewTimes" />
	<result column="monthViewTimes" property="monthViewTimes" />
</resultMap>

<sql id="base_column_list">
	id,title, userId, postTime, lastUpdateTime, categoryId, content, isVisible, totalViewTimes, dayViewTimes, weekViewTimes, monthViewTimes
</sql>

<!-- 插入 -->
<insert id="insert" parameterType="Article">
	insert into article(title, userId, postTime, lastUpdateTime, categoryId, content, isVisible, totalViewTimes, dayViewTimes, weekViewTimes, monthViewTimes) 
	values(#{title},#{userId}, 
	#{postTime, typeHandler=zx.blog.myibtais.typehandler.TimeDateTypeHandler}, 
	#{lastUpdateTime, typeHandler=zx.blog.myibtais.typehandler.TimeDateTypeHandler}, 
	#{categoryId}, #{content}, #{isVisible}, #{totalViewTimes}, #{dayViewTimes}, #{weekViewTimes}, #{monthViewTimes});
	<selectKey resultType="int" keyProperty="articleId" order="AFTER">
			SELECT LAST_INSERT_ID()
	</selectKey>
</insert>

<update id="update" parameterType="Article">
	update article set 
	title = #{title},
	userId = #{userId},
	postTime = #{postTime, typeHandler=zx.blog.myibtais.typehandler.TimeDateTypeHandler},
	lastUpdateTime = #{lastUpdateTime, typeHandler=zx.blog.myibtais.typehandler.TimeDateTypeHandler},
	categoryId = #{categoryId},
	content = #{content},
	isVisible = #{isVisible},
	totalViewTimes = #{totalViewTimes},
	dayViewTimes = #{dayViewTimes},
	weekViewTimes = #{weekViewTimes},
	monthViewTimes = #{monthViewTimes}
	where articleId = #{articleId}
</update>

<!-- 查询全部(可见)文章 -->
<select id="findAll" resultMap="article">
	SELECT 
	<include refid="base_column_list" /> 
	FROM article ORDER BY postTime DESC, lastUpdateTime DESC
</select>

<!-- 文章总数 -->
<select id="getArticleTotalNum" resultType="int">
	SELECT COUNT(*) FROM article
</select>

<!-- 根据文章ID查询文章 -->
<select id="findById" resultType="Article">
	SELECT 
	<include refid="base_column_list" /> 
	FROM article WHERE 
	articleId = #{articleId} ORDER BY postTime DESC, lastUpdateTime DESC
</select>

<!-- 根据类别ID删除文章 -->
<delete id="deleteArticleByCategoryId">
	delete from article where categoryId = #{categoryId}
</delete>

<!-- 查询一页的文章 -->
<select id="findOnePageArticle" resultType="Article">
	SELECT 
	<include refid="base_column_list" /> 
	FROM article ORDER BY postTime DESC, lastUpdateTime DESC 
	limit #{start}, #{end}
</select>

<!-- 根据类别ID查询 -->
<select id="findByCategoryId" resultType="Article">
	SELECT 
	<include refid="base_column_list" /> 
	FROM article where categoryId = #{categoryId} ORDER BY postTime DESC, lastUpdateTime DESC
</select>

<update id="deleteArticleByArticleId">
	delete from article where articleId = #{articleId}
</update>

</mapper>


