<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zx.blog.user.dao.UserDao">


	<!-- 查询全部 用户 -->
	<select id="findAll" resultType="User">
		SELECT userId as userId,
		userName as userName,
		title as title,
		userPassword as userPassword,
		lastLoginTime as lastLoginTime,
		userState as userState, 
		privilege as privilege,
		imgUrl as imgUrl
		FROM user
	</select>
	
	<!-- 根据ID 查询 用户 -->
	<select id="findByName" resultType="User">
		SELECT userId as userId,
		userName as userName,
		title as title,
		userPassword as userPassword,
		lastLoginTime as lastLoginTime,
		userState as userState, 
		privilege as privilege,
		imgUrl as imgUrl
		FROM user WHERE userName=#{userName}
	</select>

	<update id="updateUser" parameterType="User">
		UPDATE user set
		userName = #{userName},
		title = #{title},
		userPassword = #{userPassword},
		lastLoginTime = #{lastLoginTime},
		userState = #{userState}, 
		privilege = #{privilege},
		imgUrl = #{imgUrl}
		WHERE userId = #{userId}
	</update>
</mapper>


