<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zx.blog.mapper.UserMapper">

	<resultMap type="zx.blog.user.domain.User" id="user">
		<id column="userId" property="userId"/>
		<result column="title" property="title"/>
		<result column="userName" property="userName"/>
		<result column="userPassword" property="userPassword"/>
		<result column="lastLoginTime" property="lastLoginTime" typeHandler="zx.blog.myibtais.typehandler.TimeDateTypeHandler" />
		<result column="userState" property="userState"/>
		<result column="privilege" property="privilege"/>
		<result column="imgUrl" property="imgUrl"/>
	</resultMap>

	<sql id="base_column_list">
		userId, userName, title, userPassword, lastLoginTime, userState, privilege, imgUrl 
	</sql>
	<!-- 
	private int userId; //用户ID
	private String userName;  //用户名
	private String title;	//称呼（用于显示在界面上）
	private String userPassword;  //用户密码
	private String lastLoginTime;   //上次登录时间(时间戳，秒)
	private int userState;		//用户状态
	private int privilege;		//权限级别
	private String imgUrl;		//头像地址
	 -->
	<insert id="insert" parameterType="zx.blog.user.domain.User">
		insert into user values
		(#{userId}, #{userName}, #{title}, #{userPassword}, 
		#{lastLoginTime, typeHandler=zx.blog.myibtais.typehandler.TimeDateTypeHandler}
		, #{userState}, #{privilege}, #{imgUrl})
	</insert>
	
	<select id="selectById" resultMap="user" parameterType="java.lang.Integer" >
		SELECT 
		<include refid="base_column_list" />
		FROM user 
		WHERE userId = #{userId}
	</select>

	<update id="update" parameterType="zx.blog.user.domain.User">
		UPDATE user set
		userName = #{userName},
		title = #{title},
		userPassword = #{userPassword},
		lastLoginTime = #{lastLoginTime, typeHandler=zx.blog.myibtais.typehandler.TimeDateTypeHandler},
		userState = #{userState}, 
		privilege = #{privilege},
		imgUrl = #{imgUrl}
		WHERE userId = #{userId}
	</update>
	
	<delete id="delete" >
		delete from userWHERE userId = #{id}
	</delete>
	
	<!-- 查询全部 用户 -->
	<select id="selectAll" resultMap="user">
		SELECT 
		<include refid="base_column_list" />
		FROM user
	</select>
	
	<!-- 根据ID 查询 用户 -->
	<select id="findByName" resultMap="user">
		SELECT
		<include refid="base_column_list" />
		FROM user WHERE userName=#{userName}
	</select>
	
</mapper>


